.sec-status-krab {
	color: #31d845;
}

.sec-status-pvp {
	color: #d83131;
}

.sec-status-neutral {
	color: #12b9e2;
}

.scrollable-menu {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
}